<div class="post-copyright">
    <div class="content">
        <p>Last Updated： <%= post.updated.format("YYYY-MM-DD- HH:mm") %></p>
        <p>Original Link： <a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a></p>
        <footer>
            <a href="<%- config.url %>">
                <img src="<%- url_for(theme.logo) %>" alt="<%- config.author %>">
                <%- config.author %>
            </a>
        </footer>
    </div>
</div>
